
.comp-full-calendar {
    padding: 20px;
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
}
.comp-full-calendar ul, .comp-full-calendar p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.full-calendar-header {
    display: flex;
    align-items: center;
}
.full-calendar-header .header-left, .full-calendar-header .header-right {
    flex: 1;
}
.full-calendar-header .header-center {
    flex: 3;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.full-calendar-header .header-center .title {
    margin: 0 10px;
}
.full-calendar-header .header-center .prev-month, .full-calendar-header .header-center .next-month {
    cursor: pointer;
}

.full-calendar-body {
    margin-top: 20px;
}
.full-calendar-body .weeks {
    display: flex;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #efdbdb;
    min-height: 30px;
    padding-top: 3px;
}
.full-calendar-body .weeks .week {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.full-calendar-body .weeks .week {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.full-calendar-body .weeks strong {
    font-weight: bold;
    font-size: 14px;
}
.full-calendar-body .dates {
    position: relative;
}
.full-calendar-body .dates .week-row {
    border-left: 1px solid #e0e0e0;
    display: flex;
}
.full-calendar-body .dates .week-row .day-cell {
    flex: 1;
    min-height: 100px;
    padding: 4px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.full-calendar-body .dates .week-row .day-cell .day-number {
    text-align: right;
}
.full-calendar-body .dates .week-row .day-cell.today {
    background-color: #fcf8e3;
}
.full-calendar-body .dates .week-row .day-cell.not-cur-month .day-number {
    color: rgba(0, 0, 0, 0.24);
}
.full-calendar-body .dates .dates-events {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.full-calendar-body .dates .dates-events .events-week {
    display: flex;
}
.full-calendar-body .dates .dates-events .events-week .events-day {
    cursor: pointer;
    flex: 1;
    min-height: 109px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-calendar-body .dates .dates-events .events-week .events-day .day-number {
    text-align: right;
    padding: 4px 5px 4px 4px;
    opacity: 0;
}
.full-calendar-body .dates .dates-events .events-week .events-day.not-cur-month .day-number {
    color: rgba(0, 0, 0, 0.24);
}
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item {
    cursor: pointer;
    font-size: 12px;
    background-color: #C7E6FD;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 0 0 4px;
    height: 18px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.is-start {
    margin-left: 4px;
}
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.is-end {
    margin-right: 4px;
}
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.is-opacity {
    opacity: 0;
}
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .more-link {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 2px;
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
}
.full-calendar-body .dates .more-events {
    position: absolute;
    width: 150px;
    z-index: 2;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.full-calendar-body .dates .more-events .more-header {
    background-color: #eee;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.full-calendar-body .dates .more-events .more-header .title {
    flex: 1;
}
.full-calendar-body .dates .more-events .more-header .close {
    margin-right: 2px;
    cursor: pointer;
    font-size: 16px;
}
.full-calendar-body .dates .more-events .more-body {
    height: 140px;
    overflow: hidden;
}
.full-calendar-body .dates .more-events .more-body .body-list {
    height: 120px;
    padding: 5px;
    overflow: auto;
    background-color: #fff;
}
.full-calendar-body .dates .more-events .more-body .body-list .body-item {
    cursor: pointer;
    font-size: 12px;
    background-color: #C7E6FD;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 0 0 4px;
    height: 18px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-calendar-body .lists {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9ec;
}
.full-calendar-body .lists .list-table {
    table-layout: auto;
}
.full-calendar-body .lists table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
.full-calendar-body .lists tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.full-calendar-body .lists .list-table .list-header {
    border-bottom-width: 1px;
    background: #eee;
    font-size: 14px;
    color: #100d1d;
}
.full-calendar-body .lists .list-table a {
    color: #100d1d;
}
.full-calendar-body .lists .list-table td {
    border-width: 1px 0 0;
    padding: 8px 14px;
}
.full-calendar-body .lists .list-table .list-header .list-header-main {
    float: left;
}
.full-calendar-body .lists .list-table .list-header .list-header-alt {
    float: right;
}
.full-calendar-body .lists .list-table tr:first-child td {
    border-top-width: 0;
}
.full-calendar-body .lists .list-table .list-item {
    box-sizing: content-box;
}
.fc-list-item-time {
    padding-right: 0;
    width: 25%;
}
.fc-list-item-marker {
    padding-right: 0;
    width: 10px;
}
.fc-list-item-title {
    padding-right: 0;
}
.fc-event-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color:#3a87ad
}
.list-item:hover td {
    background-color: #f5f5f5;
}

